<st-header></st-header>
<div class="container-fluid mt-3">
  <h1 class="header">Setup Minesweep</h1>
  <div class="d-flex justify-content-center container">
    <form class="col-6 mt-4" [formGroup]="setupForm" (ngSubmit)="onSubmit(setupForm.value)" novalidate>
      <div class="form-group">
        <label for="columns">Number of Columns</label>
        <input type="number" class="form-control" id="columns" max="50" min="5" formControlName="columns">
      </div>
      <div class="form-group">
        <label for="rows">Number of Rows</label>
        <input type="number" class="form-control" id="rows" max="50" min="5" formControlName="rows">
      </div>
      <div class="form-group">
        <label for="mines">Number of Mines</label>
        <input type="number" class="form-control" id="mines" max="10" min="" formControlName="mines">
      </div>
      <div class="form-group">
        <label for="levels">Levels</label>
        <select class="custom-select" id="level" formControlName="level">
            <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary float-right" [disabled]="!setupForm.valid || saving">
        <i class="fas fa-save" *ngIf="!saving"></i><span *ngIf="!saving"> Save</span>
        <i class="fas fa-spinner fa-spin" *ngIf="saving"></i><span *ngIf="saving"> Saving</span>
      </button>
    </form>
  </div>
</div>
